.dd-wrapper {
	display: flex;
	min-height: 38px;
	flex-wrap: wrap;
	.dd-header {
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		width: 100%;
		padding: 0 20px;
	}
	.dd-header__title--bold {
		font-weight: bold;
		justify-content:flex-end;
	}
	.dd-list {
		box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075) !important;
	
		padding: 0;
		margin: auto;
		width:80%;
		margin-top: 30px;
		
		li {
			list-style-type: none;
			&:first-of-type {
				button {
					border-top: 1px solid #ccc;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
				}
			}
			&:last-of-type {
				>button {
					border-bottom-left-radius: 4px;
					border-bottom-right-radius: 4px;
				}
			}
			button {
				display: flex;
				justify-content: space-between;
				background-color: white;
				font-size: 16px;
				padding: 15px 20px 15px 20px;
				border: 0;
				border-bottom: 1px solid #ccc;
				width: 100%;
				text-align: left;
				border-left: 1px solid #ccc;
				border-right: 1px solid #ccc;
				&:hover {
					cursor: pointer;
					font-weight: bold;
					background-color: #ccc;
				}
				&:focus {
					cursor: pointer;
					font-weight: bold;
					background-color: #ccc;
				}
			}
		}
	}
}
.button {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding-right: 40px;
  
  &:hover {
    & .button__border-circle { 
      transform: translateX(60px);
    }
    
    & .button__mask-circle {
      clip-path: circle(25px at 85px);
    }
  }
}

.button__text {
  z-index: 1;
  font-size: 14px;
  margin-right: -18px;
  color:darkblue;
  letter-spacing: 0.05em;
}

.button__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.button__arrow {
  left: 35px;
  height: 3px;
  width: 50px;
  display: flex;
  position: absolute;
  align-items: center;
  background-color: darkblue;
  
  &:after {
    content: '';
    width: 0; 
    height: 0; 
    top: -5px;
    right: -7px;
    position: absolute;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid blue;
  }
}

.button__border-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid grey;
  transition: transform default_timer;
}

.button__mask-circle {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(25px);
  transition: clip-path default_timer;
}

.button__small-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translateX(60px);
  background-color: blue;
}

// .search-btn{
//   background: lightblue;
//   color:#fff;
//   border:none;
//   position:relative;
//   height:60px;
//   font-size:1.6em;
//   padding:0 2em;
//   cursor:pointer;
//   transition:800ms ease all;
//   outline:none;
// }
// .search-btn:hover{
//   background:#fff;
//   color:midnightblue;
// }
// .search-btn:before,search-btn:after{
//   content:'';
//   position:absolute;
//   top:0;
//   right:0;
//   height:2px;
//   width:0;
//   background: #1AAB8A;
//   transition:400ms ease all;
// }
// .search-btn:after{
//   right:inherit;
//   top:inherit;
//   left:0;
//   bottom:0;
// }
// .search-btn:hover:before,search-btn:hover:after{
//   width:100%;
//   transition:800ms ease all;
// }

