.assign-case {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 2px;
  margin: 10px;
  border-radius: 17px;
  width: 100%;
  min-height: 15rem;
  padding: 2rem;
}

.lawyers-selection {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}

.button {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}