.case-box {
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  width: 90%;
  border: solid 2px;
  margin-top: 15px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 22px;
  
}

.case-body:hover {
  border-top: solid 2px;
  
}

.client-id {
  font-family: 'Work Sans';
}
.case-name {
  font-family: 'Work Sans';
}
.case-date {
  font-family: 'Bitter';
}
.case-header {
  display: flex;
  justify-content: space-between;
}

.your-case {
  border: solid 3px;
  border-color: lightcoral;
  border-radius: 5px;
  background-color: lightcyan;

}

.case-date {
  display: flex;
  justify-content: flex-end;
}