.LawyerList {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 21px;
  padding: 20px;
  border-radius: 10px;


}

.lawyerlisttitle {
  font-family: 'Work Sans';
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
}