.reviewcomponent {
	display: flex;
	// width: 50%;
	margin: auto;
	align-items: center;
	flex-direction: column;
	border: solid 3px;
	border-radius: 10px;
}

.reviewcontent {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.reviewtitle{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 5px;
}


textarea {
	width: 25em;
	height: 150px;
	border-radius: 10px;;
}

.submitreview {
	// width:100px;
	border-radius: 10px;
	// border: 2px solid blue;
	// margin-left: 50px;
	background-color: #2a9d8f;
	color: white;
	padding: 3px;
	margin: 10px;
}