.NewCase {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 25px auto;
}

.col-sm-10 {
  display: flex;
  justify-content: flex-end;
}

.form-group {
  display: flex;
  flex-direction: column;
}

// .col-form-label {
//   width: 100%;
// }