.client-lawyers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.dropdown-options{
  display: flex;
  position: absolute;
  width: 70%;
  justify-content: space-around;
  margin-top: 15em;
}

.lawyers-list {
  margin-top:7em;
  width: 80%;
  display: flex;
  justify-content: center;
}