.client-lawyers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: #fefae0;
}

.dropdown-options{
  display: flex;
  position:relative;
  width: 80%;
  justify-content: space-around;
  margin-top: 2em;
}

.lawyers-list {
  margin-top:1em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.name-and-profileImage {
  font-family: 'Work Sans';
}

.specialization-tag {
  font-family: 'Work Sans';
}

.specialization {
  font-family: 'Bitter';
  margin-inline: 12px;
}

.about-me {
  font-family: 'Work Sans';
}

.lawyer-summary {
  font-family: 'Bitter';
  font-size: medium;
  margin-inline: 12px;
  
}

.consultation-rate {
  font-family: 'Work Sans';

}

.review-tag {
  font-family: 'Work Sans';
}

.review-content {
  font-family: 'Bitter';
}

.btn-review {
  font-family: 'Work Sans';
}