.closedcasecontainer {
    width: 90%;
    margin:auto;
    margin-top: 2em;
}

.closedcasebody {
    margin-top: 2em;
}

.closedcaseheader {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    margin-bottom: 1em;
}

.closedcasecontent {
    font-family: 'bitter';
}
