.landingbody {
	background: linear-gradient(-45deg, #260c9c, #89bd9e, #f0c987, #db4c40);
	background-size: 300% 300%;
	animation: gradient 15s ease infinite;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.landingtitle {
  margin-top: 1em;
  font-family: 'lobster', cursive;
  font-size:60px;
  color:white;
}

.userlogin {
  display: flex;
  flex-direction: column;
  // min-height: 100vh;
  width: 20%;
  border: solid 3px;
  border-color: lightcyan;
  margin-top: 4em;
  border-radius: 10px;
}

.useroptions {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 7em;
  
}

.usertype {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}

.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 15em;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // width: 50%;
  height: 15em;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 8em;
  margin-bottom: 1em;
}

.userpass {
  display: flex;
  flex-direction: column;
  align-items: start;
  color:white;
}

.user-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 10em;
}

.selected {
  background-color: burlywood;
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  // color: white;

}

// .landingbody {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }

input {
  width: auto;
}

.submit {
  width: 100px;
  border-radius: 5px;
}