.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.logo {
  height: 50px;
  border: none;
  align-self: right;
}
.nav-menu {
  background-color: #264653;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  a {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 16px 0px;
    border-radius: 4px;
    &:hover {
      background-color: #E9C46A;
    }
  }
}
.nav-menu-items {
  width: 100%;
  z-index: 999;
}
.navbar-toggle {
  background-color: #264653;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.navbarspan {
  margin-left: 16px;
}
.ant-input {
  width: 100%;
  border: none;
  border-top: solid 2px;
  height: 3em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.navappname {
  // margin-top: 2em;
  font-family: ‘lobster’, cursive;
  font-size:30px;
  color:white;
}
.navlogo {
  display: flex;
}
.navbar {
  width:100%;
  height: 80px;
  padding:0px;
  margin:0px;
  display: flex;
  justify-content: start;
  align-content: center;
  opacity: 1;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
#projector {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
  background: #191D1E; /* Old browsers */
  background: -moz-linear-gradient(0deg,  #191D1E 50%, #283139 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#191D1E), color-stop(100%,#283139)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(0deg,  #191D1E 50%,#283139 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg,  #191D1E 50%,#283139 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg,  #191D1E 50%,#283139 100%); /* IE10+ */
  background: linear-gradient(0deg,  #191D1E 50%,#283139 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=‘#191D1E’, endColorstr=‘#283139’,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-attachment: fixed
}